* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.musicPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.musicPage .musicPage-head {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
}

.musicPage .musicPage-head ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.musicPage .musicPage-head ul a {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.musicPage .section {
  width: 100;
  flex: 1;
  overflow: auto;
}
